body {
    height: 100%;
    width: 100%;
    background-size: 235%;
    background-image: url("https://wallpapersfull.com/wallpapers/2019/suspense-nas-ruinas-wallpaper-17306.jpg");
    user-select: none;
    transition: all 1s;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.menu {
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    left: 0%;
    top: 45%;
    transition: all 2s;
    text-align: center;
}

.btncomecar {
    transition: all 2s;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    border-radius: 50px;
    font-size: 15pt;
    width: 80%;
    height: 60px;
}

.btnopcoes {
    transition: all 2s;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    border-radius: 50px;
    font-size: 15pt;
    width: 80%;
    height: 60px;
    margin-top: 2%;
}

header h1 {
    box-sizing: 0 2px 2px black;
    margin-bottom: 50px;
    font-size: 30pt;
    transition: all 2s;
    text-align: center;
    color: white;
    transition: all 1s;
}

.btncomecar:hover {
    border: 2px solid rgb(161, 161, 161);
    color: black;
    background-color: white;
}

.btnopcoes:hover {
    border: 2px solid rgb(161, 161, 161);
    color: black;
    background-color: white;
}

.btnvoltar {
    border: 2px solid rgb(161, 161, 161);
    margin-top: 5%;
    transition: all 2s;
    color: black;
    background-color: white;
    border-radius: 50px;
    font-size: 15pt;
    width: 80%;
    height: 50px;
}

.btnvoltar:hover {
    border: 2px solid white;
    color: white;
    background-color: transparent;
}

.fundos img {
    width: 150px;
}

.img2 {
    margin-bottom: 10px;
    transition: all 1s;
    border: 2px solid white;
    border-radius: 10px;
    height: 83px;
}

.img3 {
    margin-bottom: 10px;
    transition: all 1s;
    border: 2px solid white;
    border-radius: 10px;
    width: 100px;
    height: 83px;
}

.img1:hover {
    transition: all 1s;
    transform: scale(120%);
}

.img2:hover {
    transition: all 1s;
    transform: scale(120%);
}

.img3:hover {
    transition: all 1s;
    transform: scale(120%);
}

.img4:hover {
    transition: all 1s;
    transform: scale(120%);
}

.imgsom {
    position: fixed;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    left: 47%;
    top: 130%;
    transition: all 2s;
    text-align: center;
}